html {
    margin: 0 auto;
    width: 1020px;
}
 body {
     margin: 0 auto;
     width: 1020px;
 }

/*PORTFOLIO*/

.portfolio {
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
}

.portfolio .header {
width: 685px;
position: absolute;
margin-top: 69px;
margin-left: 39px;
}

.portfolio .header div {
display: flex;
}

.portfolio .header div h1 {
font-size: 30px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
margin: 0;
}

.portfolio .header p {
width: 940px;
height: 57px;
font-size: 18px;
line-height: 30px;
color: #767e9e;
font-family: "Lato";
font-weight: 300;
text-align: left;
margin-top: 27px;
}

.navbar {
    display: flex;
    position: absolute;
    margin-top: 155px;
    margin-left: 41px;
    width: 288px;
    justify-content: space-between;
}

.navbar li {
    border: 1px solid;
    border-color:#666d89 ;
    border-radius: 0.3em; 
    height: 20px;
}

.navbar li:hover {
    border: 1px solid;
    border-color:#c5c5c5 ;
    border-radius: 0.3em; 
    height: 20px; 
}

.navbar li a {
    text-decoration: none;
    padding: 0.53em;
    font-size: 12px;
    line-height: 19px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.navbar li a:hover {
    text-decoration: none;
    padding: 0.53em;
    font-size: 12px;
    line-height: 19px;
    color: #dedede; 
    font-family: "Lato";
    font-weight: 400;
    text-align: left;   
}

.portfolio .grid {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    gap: 20px;
    position: absolute;
    margin: 196px 40px 0 40px;
}

.portfolio .grid img {
    background-color: white;
}


/*
.portfolio .grid .one {
background-image: url(./assets/img/1.svg);
background-position: -8px -11px;
}

.portfolio .grid .two {
    background-image: url(./assets/img/2.svg);
    background-position: -82px -43px;
}

.portfolio .grid .three {
    background-image: url(./assets/img/3.svg);
    background-position: -11px -1px;
} 

.portfolio .grid .four {
    background-image: url(./assets/img/4.svg);
    background-position: -24px -2px;
}

.portfolio .grid .five {
    background-image: url(./assets/img/5.svg);
    background-position: -10px -16px;
}

.portfolio .grid .six {
    background-image: url(./assets/img/6.svg);
    background-position: -16px -4px;
}

.portfolio .grid .seven {
    background-image: url(./assets/img/7.svg);
    background-position: -31px -39px;
}

.portfolio .grid .eight {
    background-image: url(./assets/img/8.svg);
    background-position: -24px -32px;
}

.portfolio .grid .nine {
    background-image: url(./assets/img/9.svg);
    background-position: -16px -2px;
}

.portfolio .grid .ten {
    background-image: url(./assets/img/10.svg);
    background-position: -141px -113px;
}

.portfolio .grid .eleven {
    background-image: url(./assets/img/11.svg);
    background-position: -144px -175px;
}

.portfolio .grid .twelve {
    background-image: url(./assets/img/12.svg);
    background-position: -36px -60px;
}

*/

 .bottomportfolio {
    width: 1020px;
    height: 6px;
    background-color: #323746;
 }

/*ABOUT US*/

.aboutus {
    width: 1020px;
    height: 726px;
    background-color: #f2f2f2;
}

.aboutus .header {
    position: absolute;
    margin-top: 48px;
    margin-left: 40px;
}

.aboutus .header div {
display: flex;
}

.aboutus .header div h1 {
font-size: 30px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
}

.aboutus .header p {
width: 940px;
height: 57px;
font-size: 18px;
line-height: 30px;
color: #767e9e;
font-family: "Lato";
font-weight: 300;
text-align: left;
margin-top: 7px;
letter-spacing: 0.0001em;
word-spacing: 0.001em;
}

.aboutus .grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px 35px 50px 60px;
    width: 941px;
    justify-content: space-between;
    margin-left: 38px;
    margin-top: 218px;
    position: absolute;
}

.aboutus .grid .photo1 {
    padding-left: 2px;
}

.aboutus .grid .photo2 {

}

.aboutus .grid .photo3 {

}

.aboutus .grid p {
    width: 300px;
    height: 40px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-top: 10px;
}

.aboutus .grid .name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    height: 20px;
    padding-top: 17px;
}

.social1 {
    padding-top: 25px;
    padding-left: 2px;
    display: flex;
    justify-content: space-between;
    width: 155px;
}

.social2 {
    padding-top: 25px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    width: 155px;
}

.social3 {
    padding-top: 25px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    width: 155px;
}

.social1 a img, .social2 a img, .social3 a img {
    width: 35px;
    height: 35px;
}

.social1 a img:hover, .social2 a img:hover, .social3 a img:hover {
    width: 43px;
    height: 43px;
}

 .bottomaboutus {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;  
 }